.townSearchContainer {
    width: 100%;
    height: 100%;
    position: relative;

    box-shadow:
        0 0 0 2px var(--black),
        0 0 0 5px var(--border_orange),
        0 0 0 7px var(--border_shadow_orange),
        0 0 0 9px var(--black);

    ::-webkit-scrollbar {
        width: 10px;
        height: 2px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--menu_lighter);
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0);
    }
}

.searchTopBar {
    width: 100%;
    height: calc(13% - 8px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2%;
    border: 1px solid black;
    background-color: var(--menu_lighter);

    box-sizing: border-box;
    margin: 0 0 8px 0;
    box-shadow:
        0 2px 0 0 var(--black),
        0 4px 0 0 var(--border_orange),
        0 6px 0 0 var(--border_shadow_orange),
        0 8px 0 0 var(--black);
}

.searchViewInterface {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Styles for search results area */
.searchResults {
    width: 100%;
    height: 87%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    justify-content: flex-start;
    padding: 2% 0;
    gap: 3%;
    align-items: center;
    border: 1px solid black;
    background-color: var(--menu_light);
}

#townResultsInfo {
    font-size: 0.7vw;
    color: gray;
    bottom: 0;
    width: 95%;
    text-align: right;
    margin-right: 5%;
}

/* Styles for town top bar */
.townSearchBar {
    width: 80%;
    height: 50%;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 1%;
}

.searchGo {
    height: 50%;
    cursor: pointer;
    width: 6%;
    object-fit: contain;
    justify-self: flex-start;
    transition: all 0.2s;
}

.searchGo:hover {
    height: 54%;
}

/* Styles for town cards */
.townCard {
    width: 95%;
    height: 10vh;
    font-size: 1vw;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    padding: 0 1% 0 3%;
    cursor: pointer;
    background-color: var(--menu_lightest);
}

.townCardLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4%;
    height: 100%;
    width: 47%;

}

.townCardRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 4%;
    height: 100%;
    width: 49%;
}

.searchTownLogo {
    height: 90%;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 50%;
}

.searchTownName {
    font-size: 1.1vw;
}

.searchTownLevel {
    color: gray;
    font-size: .7vw;

}

.searchTownStatus {
    color: #36e04d;
}

.searchMemberCount {
    font-size: .8vw;
}

/* Styles for create town GUI */
.createTownButton {
    font-size: 1vw;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    width: 12%;
    text-align: center;
    margin-left: 2%;
    cursor: pointer;
    background-color: var(--menu_lightest);
    transition: all 0.2s;
}

.disabledCreateButton {
    opacity: .5;
    border: 1px dotted gray;
    border-radius: 5px;
    cursor: default;
    color: gray;
    font-size: 1vw;
    padding: 5px;
    width: 12%;
    text-align: center;
    margin-left: 2%;
    background-color: var(--menu_lightest);
}

.createTownButton:hover {
    padding: 6px;
}

/* Styles for create town GUI */
.createTown {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(22, 22, 22, 0.692);
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.createGUI {
    position: relative;
    padding: 2% 5% 2% 4%;
    z-index: 51;
    background-color: var(--menu_lightest);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow:
        0 0 0 2px var(--black),
        0 0 0 4px var(--border_orange),
        0 0 0 6px var(--border_shadow_orange),
        0 0 0 8px var(--black);    
}

.createGUI > p {
    position: absolute;
    top: 5%;
    right: 2.5%;
    font-size: .9vw;
    opacity: 0.7;
    cursor: pointer;
}

.townNameBox {
    padding-left: 4%;
    font-size: 1vw;
}

.townCreateButton {
    border: 2px dotted gray;
    border-radius: 3px;
    font-size: .9vw;
    padding: 2%;
    background-color: var(--menu_light);
    opacity: 0.5;
    margin-left: 5%;
    width: auto;
}

.validButton {
    opacity: 1;
    border: 2px solid black;
    cursor: pointer;
}