.loginBoxPagePos {
    position: absolute;
    left: 34vw;
    top: 25.5vh;
    z-index: 50000;
}

.xClose {
    position: absolute;
    top: 2.2vh;
    right: 1.5vw;
}

.xClose:hover {
    cursor: pointer;
}

.login-gui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: calc(32vw - 22px);
    height: calc(45vh - 22px);
    font-size: 1.75h;
    background-color: var(--menu_lighter);
    
    box-sizing: border-box;
    margin: 11px;
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);

    z-index: 30;
}

.login-gui > hr {
    background-color: var(--menu_dark);
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deco-bar-top {
    width: 35%;
    height: 3px;
    background-color: var(--menu_dark);
}

.deco-bar-bottom {
    width: 30%;
    height: 3px;
    background-color: var(--menu_dark);
}

.bar-left {
    margin-left: 5%;

}

.bar-right {
    margin-right: 5%;
}

.underline {
    text-decoration: underline;
}

.login-title-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    text-align: center;
}

#bottom-title-bar {
    margin-top: 2%;
}

.forgot-link {
    text-decoration: underline;
    color: gray;
    cursor: pointer;
    margin-top: 1%
}

.forgot-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#send-email {
    margin-top: 5%
}

.forgot-gui {
    margin: 1%;
    padding: 2%;
}

#forgot-hr {
    width: 90%;
    height: 3px
}

.forgot-bottom-buttons {
    width: 100%;
    text-align: center;
}

.forgot-bottom-buttons > button {
    margin: 2%
}