.shop {
    width: 100%;
    height: 100%;
    background-color: #fbf4b5ee;
    display: flex;
    flex-direction: column;

    /* width */
    ::-webkit-scrollbar {
        width: 20px;
        height: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #A67C52;
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0);
    }

}

.profile {
    width: 30%;
    border: 5px solid black;
}

.screenChange {
    width: 70%;
    border: 5px solid black;
}

.shopRow {
    height: 26vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: #D2B48C;
    overflow-y: hidden;
    margin: 1vh 1vw;
    box-sizing: border-box;
    border: 1px solid black;
}

.items {
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 1vh 1vw;
    box-sizing: border-box;

}

.label {
    background-color: #A67C52;
    min-width: 4vw;
    width: 4vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    border-right: 1px solid black;
}

.label>h2 {
    transform: rotate(270deg);
    transform-origin: center;
    color: white;
    font-size: 4vh;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}


#Seeds {
    margin-top: 2vh;
}

#Upgrades {
    margin-bottom: 2vh;
}

.shelf {
    height: 100%;
    width: 6vw;
    margin: 0px 2px;
}