.inventory-container {
    height: 100%;
    background: linear-gradient(to bottom, #654321 0%, #3B1F00 100%);

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(226, 202, 141);
        border-radius: 10px;
        border: 1px solid rgb(66, 48, 10);
    }
}

.context-inv-menu {
    position: fixed;
    min-width: 6vw;
    padding: 0.3vw;
    border-radius: 0.2vw;
    border: 2px solid black;
    background-color: var(--menu_light);
    filter: brightness(0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 5000;
}

.context-menu-row {
    cursor: pointer;
    width: 100%;
    border-radius: 0.2vw;
}

.context-menu-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.context-menu-button:hover {
    text-decoration: underline;
}

.context-menu-icon {
    height: 1.6vw;
    margin-bottom: -0.8vh;
    object-fit: contain;
}

.context-menu-button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.inventorySlots {
    width: calc(100% - 22px);
    margin: 0 11px;
    box-sizing: border-box;
    box-shadow:
        0 0 0 3px rgb(0, 0, 0),
        0 0 0 6px rgb(245, 166, 43),
        0 0 0 8px rgb(199, 135, 35),
        0 0 0 11px rgb(0, 0, 0);
    position: relative;
    z-index: 2;
}

.showBottomBar {
    height: calc(100% - 11px)
}

.noBottomBar {
    height: 100%;
}

.selected-item-info {
    border-bottom: 1px solid #2C1600;
    height: 23%;
    display: flex;
    align-items: center;
    padding: .1vw .1vw .1vw .5vw;
    background-color: var(--menu_dark);
}

.info-left-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 64px;
}

.selected-item-img {
    border: 1px solid #2C1600;
    width: 100%;
    object-fit: contain;
    max-height: 100%;
    object-fit: contain;
}

.more-info-button {
    height: 3vh;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: .5vh;
    left: 0;
}

.more-info-button>img {
    height: 100%;
    object-fit: contain;
}

.selected-item-info>summary {
    margin-left: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 1.1vw;
    text-wrap: wrap;
    width: calc(75% - 64px);
    position: relative;
}

.count {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 2px;
    font-size: 0.8em;
    border-radius: 2px;
    color: #FFFFFF;
}


.items-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 77%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    background-color: var(--menu_dark);
}


#display {
    height: 100%
}

.item-slot {
    width: 23%;
    margin: 2px;
    border: 1.5px solid #3f2509;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(24, 24, 24, 0.3);
    transition: 0.3s;
}

.is-feed {
    box-shadow: 0px 0px 5px rgba(242, 239, 41, 0.5);
}

.item-slot>img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.item-slot:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}

/* Tool (multiharvest, multiplant) styles
*/

.toolSelect {
    width: 15%;
    margin-left: 2%;
    margin-right: 2%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.toolIcon {
    height: 50%;
    cursor: pointer;
    position: relative;
}

.toolIconDisabled {
    height: 50%;
    position: relative;
}

.toolIcon>img {
    height: 100%;
    object-fit: contain;
}

.toolIconDisabled>img {
    height: 100%;
    object-fit: contain;
    filter: grayscale(0.90);
    opacity: 0.3;

}

.toolTipInv {
    z-index: 100;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    left: -200%;
    padding: 0 .2vw 0 .2vw;
    color: black;
    border: 1px solid black;
    background-color: rgb(235, 235, 235);
    pointer-events: none;
    font-size: .85vw;
}

/* Fertilizer equip and gui styles
*/

.dequipFertilizer {
    width: 13%;
    padding-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.dequipFertilizer>img {
    width: 100%;
    object-fit: contain;
}

.fertilizerButtonArea {
    width: 15%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.fertilizerButton {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
    max-height: 50%;
}

.boosts-button {
    width: 100%;
    max-height: 50%;
    position: relative;
    /* z-index: 200; */
}

.fertilizerMenu {
    position: absolute;
    width: 15vw;
    border: 1px solid black;
    background-color: whitesmoke;
    top: 1%;
    right: 2%;
    z-index: 8;
    font-size: 0.8vw;

    padding: 5%;
    display: flex;
    flex-direction: column;
}

.aoe-fert-checkbox {
    display: flex;
    align-items: center;
}

.aoe-fert-checkbox>label {
    margin-left: 0.2vw;
}

.fertRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.fertCloseX {
    position: absolute;
    width: 10%;
    top: 3%;
    right: 3%;
    font-size: .8vw;
    cursor: pointer;
    text-align: center;
}

.fertilizerType {
    width: 28%;
    margin-top: 4%;
    text-align: center;
}

.fertilizerType>img {
    width: 100%;
    object-fit: contain;

}

.fertTextDescription {
    font-size: .8vw;
}

/* Item slot flash animation
*/

@keyframes flashAnimation {
    0% {
        background-color: transparent;
    }

    45% {
        background-color: rgba(231, 206, 148, 0.79);
    }

    100% {
        background-color: transparent;
    }
}

.flash {
    animation: flashAnimation 0.5s;
}