.user-profile {
    height: calc(100% - 22px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 11px;
    position: relative;
    z-index: 5;
}

.orangeBorder {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);
}

.user-info {
    height: 48%;
    display: flex;
    flex-direction: row;
    background: var(--menu_light);
    flex-grow: 10;
}

.profile-stats {
    height: 100%;
    width: 60%;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.pfp {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-prompt {
    height: 100%;
    width: 20%;
    position: relative
}

.login-button {
    position: absolute;
    top: 10%;
    right: 10%;
    box-sizing: border-box;
    margin: 6px;
    padding: 2px;
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 3px var(--border_yellow),
        0 0 0 4px var(--border_shadow_yellow),
        0 0 0 6px var(--black);
    font-size: 1vw;
}


.splashArea {
    height: 12%;
    width: 100%;
    background-color: var(--menu_light);
    border-top: 1px solid var(--menu_dark);
    border-bottom: 1px solid var(--menu_dark);
}

.profileButtons {
    height: 32%;
    background: var(--menu_light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    font-size: 1vw;
}

.profileLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 20%;
    object-fit: contain;
    cursor: pointer;
    position: relative;
}

.toolTip {
    z-index: 100;
    white-space: nowrap;
    position: absolute;
    top: -50%;
    left: -100%;
    padding: 0 .2vw 0 .2vw;
    color: black;
    border: 1px solid black;
    background-color: rgb(235, 235, 235);
    pointer-events: none;
}

.profileLink>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.pfp>img {
    width: 95%;
    max-height: 64px;
    object-fit: contain;
}


.levelInfoContainer {
    height: 30%;
    display: flex;
    flex-direction: column;
}

#levelPrefix {
    height: 100%;
    font-size: 1.5vh;
    width: 50%;
}

.levelTopBar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 60%;
}

.xpBarContainer {
    height: 40%;
    width: 90%;
    overflow: hidden;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.hoverXPCount {
    position: relative;
    overflow: visible;
    width: 50%;
    height: 100%;
    font-size: 1.5vh;
    z-index: 5;
}

.orderNotice {
    position: relative;
}

.orderNotice::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gold;
    animation: orderNotice-effect 0.5s linear infinite forwards;
    pointer-events: none;
    /* to ensure the flash doesn't block user interaction */
}

@keyframes orderNotice-effect {
    0% {
        opacity: 0;
        background-color: gold;
    }

    20% {
        opacity: 0.7;
        background-color: gold;
    }

    50% {
        opacity: 0.8;
        background-color: gold;
    }

    100% {
        opacity: 0;
    }
}