.shop {
    width: calc(100% - 161px);
    /* width: 100%; */
    height: 100%;
    background-color: var(--border_shadow_orange);
    display: flex;
    flex-direction: column;
    gap: .8vh;
    padding: .8vh;
    box-sizing: border-box;

    /* width */
    ::-webkit-scrollbar {
        width: 20px;
        height: 4px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        border-radius: 4px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--menu_dark);
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0);
    }

}

.profile {
    width: 30%;
    border: 5px solid black;
}

.screenChange {
    width: 70%;
    border: 5px solid black;
}

.shopRow {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--menu_lighter);
    overflow-y: hidden;


    margin: 1.02vh;

    box-sizing: border-box;
    box-shadow:
        0 0 0 .2vh var(--black),
        0 0 0 .5vh var(--border_orange),
        0 0 0 .7vh var(--border_shadow_orange),
        0 0 0 1.02vh var(--black);
}

.items {
    height: 100%;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0 0 0 4px;
    box-sizing: border-box;

}

.label {
    background-color: var(--menu_dark);
    min-width: 4vw;
    width: 4vw;
    margin-right: 5px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:
        0 0 0 2px var(--black),
        0 0 0 5px var(--border_orange),
        0 0 0 7px var(--border_shadow_orange),
        0 0 0 9px var(--black);

}

.label>h2 {
    transform: rotate(270deg);
    transform-origin: center;
    color: white;
    font-size: 4vh;
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}