.inventory-container {
    height: 100%;
    background: linear-gradient(to bottom, #654321 0%, #3B1F00 100%);

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(226, 202, 141);
        border-radius: 10px;
        border: 1px solid rgb(66, 48, 10);
    }
}

.inventorySlots {
    width: calc(100% - 22px);
    margin: 0 11px;
    box-sizing: border-box;
    box-shadow:
        0 0 0 3px rgb(0, 0, 0),
        0 0 0 6px rgb(245, 166, 43),
        0 0 0 8px rgb(199, 135, 35),
        0 0 0 11px rgb(0, 0, 0);
    position: relative;
    z-index: 2;
}

.showBottomBar {
    height: calc(100% - 11px)
}

.noBottomBar {
    height: 100%;
}

.selected-item-info {
    border-bottom: 1px solid #2C1600;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 2px 10px;
    background-color: var(--menu_dark);
}

.selected-item-info>summary {
    margin-left: 1%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    flex-grow: 1;
    font-size: 1.1vw;
}

.count {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 2px;
    font-size: 0.8em;
    border-radius: 2px;
    color: #FFFFFF;
}

.selected-item-info>img {
    border: 1px solid #2C1600;
    height: 64px;
    max-height: 100%;
}

.items-grid {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    height: 85%;
    overflow-y: auto;
    padding: 5px;
    background-color: var(--menu_dark);
}


/* .items-grid::after {
    content: "";
    flex: auto;
    margin: 2px;
} */


#display {
    height: 100%
}

.item-slot {
    width: 23%;
    margin: 2px;
    border: 1.5px solid #3f2509;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 10px rgba(24, 24, 24, 0.3);
    transition: 0.3s;
}

.is-feed {
    box-shadow: 0px 0px 5px rgba(242, 239, 41, 0.5);

}

.item-slot>img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.item-slot:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.02);
}


.dequipFertilizer {
    width: 13%;
    padding-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer
}

.dequipFertilizer>img {
    width: 100%;
    object-fit: contain;
}

.fertilizerButtonArea {
    width: 15%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fertilizerButton {
    width: 100%;
    object-fit: contain;
    cursor: pointer;
}

.fertilizerMenu {
    position: absolute;
    width: 15vw;
    border: 1px solid black;
    background-color: whitesmoke;
    top: 1%;
    right: 2%;
    z-index: 8;

    padding: 5%;
    display: flex;
    flex-direction: column;

}

.fertRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.fertCloseX {
    position: absolute;
    width: 10%;
    top: 3%;
    right: 3%;
    font-size: .8vw;
    cursor: pointer;
    text-align: center;
}

.fertilizerType {
    width: 28%;
    margin-top: 4%;
    text-align: center;
}

.fertilizerType>img {
    width: 100%;
    object-fit: contain;

}

.fertTextDescription {
    font-size: .8vw;
}

@keyframes flashAnimation {
    0% {
        background-color: transparent;
    }

    45% {
        background-color: rgba(231, 206, 148, 0.79);
    }

    100% {
        background-color: transparent;
    }
}

.flash {
    animation: flashAnimation 0.5s;
}