.containerTall {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(202, 82, 150);
    border: 5px solid purple;
    height: 60%;
    font-size: 2vh;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 5px;
}

.profileButtons {
    height: 40%;
    background-color: plum;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.profileLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    object-fit: contain;
    border: 1px solid black;
}

.profileLink>img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.profileXPTall {
    display: flex;
    justify-content: center;

}

.pfpTall {
    display: flex;
    justify-content: center;
    margin-right: 5px;
}

.pfpTall>img {
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    border: 1px solid blue;
}

.userTall {
    display: flex;
    justify-content: center;
}

.balanceTall {
    display: flex;
    justify-content: center;
}






.containerWide {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(202, 82, 150);
    border: 5px solid purple;
    height: 100%;
    font-size: 2vh;

}

.infoWide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid green;
    width: 60%;
    height: 100%;
    padding: 4%
}

.pfpWide {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 40%;
    height: 100%;
}

.pfpWide>img {
    max-width: 64px;
    max-height: 64px;
    width: 100%;
    border: 1px solid blue;
}