.costRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50%;
    font-size: 1vw;
}

.costIconH {
    height: 100%;
    object-fit: contain;
}

.costIconW {
    width: 40%;
    object-fit: contain;
}

.processedIcon {
    width: 20%;
    object-fit: contain;
    margin-left: 2%;
}

.costColumn {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.machineGUILabel {
    text-decoration: underline;
    width: 100%;
    text-align: center;
}

.maxedMachineText {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #737373;
    border-left: 1px solid black;
}

.normalMachineText {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 1px solid black;
}

#buildGUI {
    position: absolute;
    border: 1px solid black;
    height: 65%;
    width: 80%;
    top: 17.5%;
    left: 10%;
    display: flex;
    flex-direction: row;
}

#machineMainGUI {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    font-size: 1vw;
}

.machineCloseX {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 1vw;
    cursor: pointer
}

.runningGUI {
    position: absolute;
    width: 85%;
    height: 85%;
    top: 7.5%;
    left: 7.5%;
    border: 1px solid black;

    display: flex;
    flex-direction: row;


}

.machineGUIColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
}

.processingRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cancelMachine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.machineCancelInfo {
    color: gray
}

.underline {
    text-decoration: underline;
}

.machineRunningInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.machineRightColumn {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.machineStats {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.capacityRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.machineGUIDefault {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 2px var(--border_gray),
        0 0 0 4px var(--border_shadow_gray),
        0 0 0 6px var(--black);
    background-color: var(--menu_dark);
}

.machineButtonA {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 3px var(--border_light),
        0 0 0 5px var(--border_shadow_gray),
        0 0 0 7px var(--black);
    background-color: var(--menu_light);
    width: 80%;
    height: 20%;
    cursor: pointer;
    font-size: 1vw;

}

.machineButtonB {
    width: 40%;
    height: 60%;
    cursor: pointer;
    font-size: 1vw;
    background-color: var(--menu_lighter);
}

.machineButtonC {
    height: 10%;
    cursor: pointer;
    background-color: var(--menu_lighter);
    width: 38%;
    border-radius: 2%;
    ;
}

.machineButtonD {
    border-radius: 2%;
    padding: 2% 2%;
    cursor: pointer;
    background-color: var(--menu_lighter);
}

.machineQuantityButtonA {
    margin: 0 4%;
    padding: 0 2%;
    background-color: var(--menu_light);
    border-radius: 10%;
}

.machineQuantityButtonB {
    margin: 0 4%;
    padding: 0 3%;
    background-color: var(--menu_light);
    border-radius: 10%;
}

.machineBuildButton {
    width: 10%;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 25%;
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 2px var(--border_gray),
        0 0 0 3px var(--border_shadow_gray),
        0 0 0 4px var(--black);
    background-color: var(--menu_lighter);
}

.isRunningUpgrade {
    color: gray;
}

.sellConfirmGUI {
    position: absolute;
    z-index: 20;
    width: 60%;
    height: 50%;
    border: 1px solid var(--menu_dark);
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 2px var(--border_yellow),
        0 0 0 3px var(--border_shadow_yellow),
        0 0 0 4px var(--black);
    background-color: var(--menu_lighter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6% 1% 1% 1%;
    font-size: 1vw;
    text-align: center;
}

.scrapComp {
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.scrapCount {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: .8vw;
}

.sellConfirmGUI>button {
    height: 20%;
    font-size: 1.8vh;
    padding: 1%;
}