.townShopParent {
    height: calc(100% + 22px);
    width: 100%;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.town-shop-back-arrow {
    position: absolute;
    top: 0;
    left: 0;
}

.town-shop-back-arrow>img {
    width: 2.5vw;
}

.townHeaderContainer {
    height: 20%;
    width: 100%;
}

.town-shop-top-bar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.town-shop-top-bar > button {
    margin: -0.5vh 1vw 0 1vw;
    cursor: pointer;
    font-size: 1.1vw;
    padding: 0.2vh 0.3vw;
    background-color: var(--menu_light);
    border: 2px solid var(--menu_dark);
    border-radius: 0.3vw;
    text-decoration: underline;
    filter: brightness(0.8);
}

.active-shop-tab {
    transform: scale(1.15);
    filter: brightness(1) !important;
}

.townFunds {
    font-size: 1vw;
    margin-top: -.6vw;
    background-color: var(--menu_light);
    padding: .5vh 1vh;
    margin-bottom: .5vh;
    flex-shrink: 1;
    margin-right: 2vw;
}

.townPerkRows {
    width: 97%;
    height: 75%;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vw 2vw 1vw 2vw;
    gap: 2vh;
}

.woodBackground {
    background-image: url('/public/assets/images/towns/longWoodWall2.png');
    background-repeat: repeat;
}