.app3 {
    height: 100vh;
    display: grid;
    grid-template-columns: auto minmax(300px, 20vw);
    position: relative;
}

.manage-animals {
    position: absolute;
    z-index: 25000;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(226, 202, 141);
        border-radius: 10px;
        border: 1px solid rgb(66, 48, 10);
    }
}

.left-column {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
    background-image: url('../../../public/assets/images/grass1.png'), url('../../../public/assets/images/grass2.png');
    background-repeat: repeat, repeat;
}

.right-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(180, 149, 89, 0.923);
}

.pens-wrapper {
    display: flex;
    flex-direction: row;
    height: calc(90vh - 98px);
    width: 100%;
}

.manage-button {
    position: absolute;
    top: 12vh;
    left: 37.5vw;
    width: 5vw;
    object-fit: contain;
    box-sizing: border-box;
    box-Shadow:
      0 0 0 1px var(--black), 0 0 0 3px var(--border_orange), 0 0 0 5px var(--border_shadow_orange), 0 0 0 7px var(--black);
    z-index: 3;
    background: var(--menu_light);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.pen-management {
    height: 98px;
}

.barn-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.coop-container {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.userProfile {
    height: 25vh;
    background-color: black;
}

.inventory {
    height: calc(75vh - 90px - 170px);
    background-color: rgb(158, 92, 45);
}

.settings {
    min-height: calc(90px + 170px);
    height: calc(90px + 170px);
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.other-screensAn {
    height: 10vh;
    z-index: 4;
}

.login-GUI {
    position: absolute;
    top: 30vh;
    left: 34vw;
    z-index: 50;
}