.app3 {
    height: 100vh;
    display: grid;
    grid-template-columns: 80% 20%;
    position: relative;
}

.manage-animals {
    position: absolute;
    z-index: 20;
    width: 60vw;
    height: 70vh;
    left: 10vw;
    top: 15vh;
}

.left-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: greenyellow;
}

.right-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(180, 149, 89, 0.923);
}

.pens-wrapper {
    display: flex;
    height: calc(80vh - 2px);
    background-color: var(--menu_dark);
}

.pen-management {
    height: 10vh;
}

.barn-container {
    flex: 1;
    background-color: var(--menu_dark);
}

.coop-container {
    flex: 1;
    background-color: var(--menu_dark);
}

.userProfile {
    height: 25vh;
    background-color: black;
}

.inventory {
    height: 55vh;
}

.settings {
    height: 20vh;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.other-screensAn {
    height: 10vh;
}

.login-GUI {
    position: absolute;
    top: 30vh;
    left: 34vw;
    z-index: 50;
}