.main-board {
    width: 80%;
    height: 100%;
    background: var(--menu_light);

    box-sizing: border-box;
    margin: 11px;
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);
    position: relative;
    z-index: 5;

    padding-bottom: 2px;

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: rgb(226, 202, 141);
        border-radius: 10px;
        border: 1px solid rgb(66, 48, 10);
    }
}

.type-button {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 1.4%;
    height: calc(5% - 22px);
    margin-bottom: 11px;
    font-size: 1.3vw;
}

.type-button:hover {
    background: rgba(249, 241, 182, 0.133);
}

.type-button:hover>h2 {
    text-shadow: 1px 1px 2px rgba(222, 196, 119, 0.697);
}

.active {
    font-size: 1.6vw;
}

.inactive {
    box-sizing: border-box;
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);
    position: relative;
    z-index: 5;
}

.type-button>img {
    width: 7%;
    object-fit: contain;
}

.leaderboards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding: 3% 1%;
    background: var(--menu_dark);
    position: relative;
}

.buttons {
    display: flex;
    flex-direction: row;
}

.leaderboard-container {
    height: calc(94% - 33px);
    width: 100%;
    overflow-y: auto;
}

.back-arrow-leader {
    position: absolute;
    top: 2%;
    left: 1%;
    cursor: pointer;
    width: 13vw;

}

.back-arrow-leader>img {
    width: 50%;
}