.order-GUI {
    position: absolute;
    top: 0;
    left: 0;
}

.left-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--menu_dark);
}

.right-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(180, 149, 89, 0.923);
}

.userProfile {
    height: 25vh;
}

.inventoryPl {
    height: 55vh;
    border: 1px solid black;
    background-color: rgb(158, 92, 45);
}

.settings {
    height: calc(20vh - 22px);
    box-sizing: border-box;
    margin: 11px;
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);
    position: relative;
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.other-screensPl {
    height: 10vh;
}

.plot {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background: var(--dirt);
    background-image: url("/public/assets/images/GUI/dirtBackground.png");
    background-repeat: repeat;
}

.farmArea {
    max-height: 100%;
    max-width: 100%;
    flex: 1;
}

.credentials-input {
    padding: 2% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ad-box-style {
    position: relative; /* Position context for the pseudo-element */
    width: 160px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ad-box-style::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 11px; /* The width of the widest shadow */
    box-shadow:
        inset -3px 0 0 0 var(--black),
        inset -6px 0 0 0 var(--border_orange),
        inset -8px 0 0 0 var(--border_shadow_orange),
        inset -11px 0 0 0 var(--black);
}
