.pfp-grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2%;
    padding: 2%;
    width: 60vw;
    height: 65vh;
    overflow-y: auto;
    background-color: var(--menu_lightest);
}

.pfp-item {
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pfp-item>img {
    max-width: 100%;
    object-fit: contain;
    height: 80%;
}

.pfp-item>p {
    margin-top: 1vh;
    color: rgb(129, 129, 129);
    font-size: .6vw;
    text-align: center;
}

.not-unlocked {
    opacity: 0.5;
    filter: grayscale(1)
}

.unlocked {
    cursor: pointer;
}

.unlocked:hover {
    transform: scale(1.02);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: transform 100ms;
}

/* User Profile */

.acc-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}


#acc-profile {
    height: 30%;
}

#profile-more-info {
    height: 20%;
    justify-content: space-evenly;
}

.profile-pic-container {
    width: 10%;
    max-height: 100%;
    object-fit: contain;
    margin-left: 4.7vw;
    margin-right: .6vw;
    position: relative;
    display: flex;
    margin-bottom: -2vh;
}

#pfp-img {
    max-height: 100%;
    width: 100%;
}

#pfp-switch-icon {
    position: absolute;
    right: .2vw;
    bottom: -1.5vh;
    width: 2vw;
    object-fit: contain;
    filter: grayscale(1);
}

.acc-user-info {
    width: 20%;
    padding: 2% 2% 2% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#acc-username {
    text-decoration: underline;
}

#town-info-icon {
    width: 6.5%;
}

.acc-user-town-info {
    width: 20%;
    padding: 2% 2% 2% 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#townLink {
    cursor: pointer;
    text-decoration: underline;
}

#noTown {
    opacity: 0.6;
}

.acc-poke-info {
    width: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.acc-poke-info>img {
    height: 8vh;
    object-fit: contain;
    margin-right: -.7vw;
}

.acc-poke-info>p {
    margin-right: 2px;
    margin-top: 5px;
}


.pokable {
    cursor: pointer;
}

.poked {
    opacity: 0.7;
}

.discordAuthBox {
    position: absolute;
    right: 4%;
    height: 3vw;
    border: 2px solid #36393e;
    border-radius: 5px;
    background-color: #433693;
    padding: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: .9vw;
    cursor: pointer;
    color: rgb(226, 224, 224);
}

.syncedDiscord {
    border: 1px dotted gray;
    opacity: 0.6;
    cursor: default;
}

#discordAccIcon {
    max-height: 80%;
    object-fit: contain;
    margin-right: 4px;
}

#acc-stats {
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    column-gap: 2vw;
    padding: 1vw 3vw;
    align-items: center;
    justify-items: center;
}

.acc-collect-totals {
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.acc-collect-totals>p {
    height: 10%;
    font-size: 1vw;
}

.acc-collect-grids {
    height: calc(90% - 22px);
    width: calc(100% - 22px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: auto;
    row-gap: 5%;
    padding: 1%;
    border: 1px solid black;
    box-sizing: border-box;
}

.acc-goods-slot {
    place-self: center;
    border: 1px solid black;
    border-radius: 5%;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10vh;
    min-width: 90%;
}

.acc-goods-slot>img {
    max-width: 100%;
    height: 90%;
    object-fit: contain;
}

.friendButton {
    position: absolute;
    top: 1vw;
    right: 1vw;
    height: 5vh;
    z-index: 10;
}

.friendPending {
    filter: grayscale(0.9);
    opacity: 0.6;
    transform: scale(0.7);
    cursor: default !important;
}

.friendButton>img {
    height: 100%;
}

.friendToolTip {
    position: absolute;
    right: 90%;
    top: 90%;
    border: 1px solid black;
    font-size: 0.8vw;
    background-color: white;
    z-index: 11;
    text-align: center;
    min-width: 6vw;
}

#leaderboard-pos-title {
    text-align: center;
    font-size: 0.9vw;
    height: 1.1vw;
    width: 100%;
    text-decoration: underline;
}

.no-leaderboard-positions {
    font-size: 0.9vw;
    text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: rgb(109, 108, 108);
}

.profile-leaderboard-container {
    width: 15vw;
    height: 100%;
}

.leaderboard-pos-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .5vh;
    height: 100%;
    padding: 0 0.5vw;
    overflow-y: auto;
    width: 100%;
    height: calc(100% - 1.1vw);
}


/* width */
.leaderboard-pos-list::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
.leaderboard-pos-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
.leaderboard-pos-list::-webkit-scrollbar-thumb {
    background: rgb(226, 202, 141);
    border-radius: 10px;
    border: 1px solid rgb(66, 48, 10);
}

.leaderboard-pos-row {
    width: 100%;
}

.goldPos {
    color: gold;
}

.silverPos {
    color: silver;
}

.bronzePos {
    color: #cd7f32;
}