.shop-interface {
    width: 100%;
    height: calc(100% - 22px);
    position: relative;
    z-index: 100;
}

.shop-tabs {
    width: 100%;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.shop-contents {
    width: calc(100% - 22px);
    height: 93%;
    position: relative;
    z-index: 150;
    background-color: var(--menu_lighter);

}

.shop-grid {
    height: 100%;
    width: 100%;
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column dense;
    grid-template-rows: repeat(2, 1fr);
}

.item-locked-message {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 280;
}

.black-out {
    background-color: rgba(0, 0, 0, 0.7);
}

.gray-out {
    background-color: rgba(0, 0, 0, 0.5);
}

.locked-text {
    color: white;
    font-size: 1.4vw;
    text-align: center;
}

.player-boosts-interface {
    grid-row: 1/ 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.player-boosts-shop {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.pb-shop-grid {
    overflow-y: auto;
    max-height: 100%;
    width: 50%;
    margin: 0 5%;
    padding: 1vw;
    margin: auto;
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: repeat(4, 1fr);
    background-color: var(--menu_light);
    gap: 0.5vw;
}

.pb-select-parent {
    width: 40%;
    height: 100%;
}

.pb-shop-select-info {
    height: 70%;
    width: 80%;
    background-color: var(--menu_light);
    display: grid;
    grid-template-rows: 5r 4fr;
    grid-template-columns: 1fr 1fr;
}

.pb-shop-select-boost {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    border-right: 1px solid black;

}

.pb-shop-select-details {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20%;
    font-size: 1vw;
}

.pb-shop-select-paragraph {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
    font-size: 1vw;
    padding: 0 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    gap: 1vh;
    text-align: center;
}

.pb-boost-qtys-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 0.5vw;
    grid-auto-flow: column dense;
}

.pb-boost-qty-item {
    width: 4vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pb-boost-qty-item > img {
    height: 100%;
    max-width: 60%;
    object-fit: contain;
}

.pb-boost-green {
    color: rgb(69, 251, 69);
}

.pb-boost-cost {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pb-boost-cost > img {
    height: 2vh;
    margin-left: 0.4vw;
}

.pb-shop-select-details > button {
    background-color: var(--menu_lighter);
    padding: 0.1vw 0.2vw;
    margin-top: 1vh;
    position: relative;
}

.pb-buy-gif {
    position: absolute;
    top: -2vh;
    right: -2vh;
    height: 4vh;
}

#no-selected-pb {
    color: rgb(68, 68, 68);
    font-style: italic;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}