.shop-tab {
    /* flex: 1; */
    width: 15vw;
    height: 99%;
    color: var(--soft_black);
    /* font-weight: bold; */
    position: relative;
    border: none;
}

.not-selected:hover {
    font-size: 1.1vw;
    filter:brightness(1.1);
    transition: font-size 50ms linear;
}

.selected {
    font-size: 1.4vw;
    background-color: var(--menu_lighter);
    z-index: 175;
    padding-top: 1vh;
    
}

.selected::after {
    content: '';
    position: absolute;
    width: 100%;
    box-shadow:
        3px 0 0 0 black,
        -3px 0 0 0 black;
    height: 11px;
    bottom: -11px;
    z-index: 176;
    pointer-events: none;
    background-color: inherit;
}

.selected::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 13px;
    bottom: -13px;
    z-index: 176;
    pointer-events: none;
    background-color: inherit;
}

.not-selected {
    font-size: 1vw;
    z-index: 125;
    position: relative;
    background-color: var(--menu_light);
}

/* Ratchet solution to border overflowing on edge tabs while allowing inner tabs to cover each other's borders (desired) */
.leftmost-tab {
    margin-left: 6px;
}

.rightmost-tab {
    margin-right: 6px;
}


/* Fix border overlap issues to blend with main shop area. Details in ShopTab.js component */
.border-fix-1 {
    position: absolute;
    background-color: var(--border_shadow_orange);
    height: 2px;
    width: 3px;
    z-index: 300;
    bottom: -5px;
}

.border-fix-2 {
    position: absolute;
    background-color: var(--border_orange);
    height: 3px;
    width: 8px;
    z-index: 300;
    bottom: -8px;
}

.border-fix-left {
    left: -11px;
}

.border-fix-right {
    right: -11px;
}

.border-fix-3 {
    position: absolute;
    background-color: var(--border_shadow_orange);
    height: 7px;
    width: 2px;
    z-index: 300;
    bottom: -12px;
    left: -8px;
}

.border-fix-4 {
    position: absolute;
    background-color: var(--border_orange);
    height: 7px;
    width: 3px;
    z-index: 300;
    bottom: -12px;
    left: -6px;
}