.loadingIconAnimation {
    display: inline-block;
    width: 80px;
    height: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

.loadingIconAnimation:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: loadingIconAnimation 1.2s linear infinite;
}

@keyframes loadingIconAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.hover-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.more-info {
    font-size: 0.9vw;
    background-color: var(--menu_lighter);
    padding: .2vw;
    z-index: 5;
    text-wrap: nowrap;
}