.orange-border {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);
    margin: 11px;
}

.yellow-border {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_yellow),
        0 0 0 8px var(--border_shadow_yellow),
        0 0 0 11px var(--black);
    margin: 11px;
}

.basic-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fog-focus-light {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25000;
    background-color: rgba(255,245,245,0.5);
}

.fog-focus-dark {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 25000;
    background-color: rgba(22, 22, 22, 0.692);
}

.closing-x {
    position: absolute;
    top: .8vw;
    right: .8vw;
    cursor: pointer;
    font-size: 1vw;
}