.orange-border {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);
    margin: 11px;
}

.orange-border-marginless {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_orange),
        0 0 0 8px var(--border_shadow_orange),
        0 0 0 11px var(--black);
}

.orange-border-medium {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 4px var(--border_orange),
        0 0 0 6px var(--border_shadow_orange),
        0 0 0 9px var(--black);
}

.orange-border-thin {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 3px var(--border_orange),
        0 0 0 4px var(--border_shadow_orange),
        0 0 0 6px var(--black);
}

.light-border-small {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 2px var(--shop_brown),
        0 0 0 3px var(--menu_dark),
        0 0 0 4px var(--black);
}

.gold-border-small {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 2px rgb(255, 215, 0),
        0 0 0 3px rgb(218, 165, 32),
        0 0 0 4px var(--black);
}

.gold-border {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 7px rgb(255, 215, 0),
        0 0 0 10px rgb(218, 165, 32),
        0 0 0 13px var(--black);
}

.super-gold-border {
    box-shadow:
        0 0 0 5px var(--black),
        0 0 0 9px rgb(255, 242, 0),
        0 0 0 12px rgb(207, 197, 1),
        0 0 0 15px var(--black);
}

.yellow-border {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--border_yellow),
        0 0 0 8px var(--border_shadow_yellow),
        0 0 0 11px var(--black);
    margin: 11px;
}

.yellow-border-thin {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 3px var(--border_yellow),
        0 0 0 4px var(--border_shadow_yellow),
        0 0 0 6px var(--black);
    margin: 6px;
}

.yellow-border-thin-marginless {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 3px var(--border_yellow),
        0 0 0 4px var(--border_shadow_yellow),
        0 0 0 6px var(--black);
}

.brown-border-small {
    box-shadow:
        0 0 0 3px var(--black),
        0 0 0 6px var(--shop_brown),
        0 0 0 8px var(--menu_dark),
        0 0 0 11px var(--black);
}

.brown-border-thin {
    box-shadow:
        0 0 0 1px var(--black),
        0 0 0 3px var(--shop_brown),
        0 0 0 4px var(--menu_dark),
        0 0 0 6px var(--black);
}

.basic-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fog-focus-light {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2500;
    background-color: rgba(255, 245, 245, 0.5);
}

.fog-focus-dark {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2500;
    background-color: rgba(22, 22, 22, 0.692);
}

.closing-x {
    position: absolute;
    top: .8vw;
    right: .8vw;
    cursor: pointer;
    font-size: 1vw;
    background-color: transparent;
    border: none;
}

.clickable {
    cursor: pointer;
}

.wh100per {
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.toolTipText {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    font-size: .9vw;
    z-index: 500;
    pointer-events: none;
    padding: 1px 5px;
}

@keyframes throbbing {
    0% {
        transform: scale(1.5);
        /* Start big at 150% */
    }

    50% {
        transform: scale(1);
        /* Shrink back to original size */
    }

    100% {
        transform: scale(1.5);
        /* Go back big to 150% */
    }
}

.throbbing {
    animation: throbbing 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    /* Adjust the duration and other properties as needed */
    transform-origin: center;
    /* Make sure it scales from the center of the element */
}