/* reset.css */


/* Color palette  */
:root {
  --border_orange: rgb(245, 166, 43);
  --border_shadow_orange: rgb(199, 135, 35);
  --black: rgb(0, 0, 0);
  --dirt: rgb(158, 113, 42);
  --menu_dark: rgb(94, 70, 40);
  --menu_light: rgb(212, 179, 116);
  --menu_lighter: #FFEBCD;
  --menu_lightest: #fffbeb;
  --border_yellow: rgb(255, 228, 82);
  --border_shadow_yellow: rgb(214, 192, 69);
  --border_gray: lightgray;
  --border_shadow_gray: gray;
  --soft_red: rgb(238, 146, 146);
  --blue_light: #3AB4FC;
  --blue_dark: #0072B5;
  --soft_black: rgb(18, 18, 18);
  --soft_white: rgb(237, 237, 237); 
  --shop_brown: #ad7b4ad8;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove margins and paddings */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dd,
figure,
figcaption,
blockquote,
fieldset,
legend,
button,
input,
textarea,
pre {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Remove default styles for form elements */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* Remove outline on focus */
button,
input,
select,
textarea {
  outline: none;
}

/* Remove border and outline on image */
img {
  border-style: none;
  outline: none;
}

/* Remove text decoration on links */
a {
  text-decoration: none;
}

/* Set default font styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}